a {
  color: black;
  font-size: 9em;
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
}

.important {
  color: #a5b4fc;
}
h1{
  color:#a5b4fc;
  font-size: 3.5em;
  font-family: 'Montserrat', sans-serif;
}
p {
  font-size: 1.1em;
  font-family: 'Manrope', sans-serif;



}
li{
  font-size: 1em;
  font-family: 'Manrope', sans-serif;
}
